CompileFlags:                     # Tweak the parse settings
  Add: 
  - -xcuda

  Compiler: gcc

Diagnostics:
  Suppress:
    - ovl_no_viable_function_in_call
    - undeclared_var_use_suggest
    - typename_invalid_functionspec