.cache
build
tests.*
CMakeUserPresets.json
.vs
dictionary.txt
/.idea/.gitignore
/cmake-build-debug/**
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.out
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCUDA/CMakeCUDACompilerId.cu
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/GPU/src/CudaStringGenerator.cu
/GPU/kernelinclude/CudaStringGenerator.cuh
/.idea/DistributedCrack.iml
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
/cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
/cmake-build-debug/CMakeFiles/FindMPI/test_mpi.cpp
/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/.idea/vcs.xml
doc/report/report.aux
doc/report/report.synctex.gz
doc/report/report.pdf
doc/report/report.log
doc/report/report.fls
doc/report/out
doc/report/report.fdb_latexmk
target